<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rocker_bogie">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000320122793758787 -0.00247941956855149 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.1755" />
      <inertia
        ixx="0.000564244772773129"
        ixy="-6.01301458686485E-05"
        ixz="-3.38769011079791E-20"
        iyy="0.00102220210222687"
        iyz="1.22526168335649E-20"
        izz="0.000474215624999999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l1">
    <inertial>
      <origin
        xyz="-0.160715221966173 0.0662285347496295 -0.147182850430697"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="-1.18331514735207E-20"
        ixz="1.49201809347102E-21"
        iyy="5.0191150558853E-05"
        iyz="-1.04239634427448E-20"
        izz="9.82129407754223E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l2">
    <inertial>
      <origin
        xyz="-0.0067528483820022 0.0884903298328579 -0.147182850430697"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="-9.60328687663745E-21"
        ixz="-1.01866532007632E-21"
        iyy="5.0191150558853E-05"
        iyz="2.85328965455366E-22"
        izz="9.82129407754222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l3">
    <inertial>
      <origin
        xyz="0.158523082401534 0.115063241100188 -0.127182850430697"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="2.32986620929689E-21"
        ixz="1.13120915184359E-21"
        iyy="5.0191150558853E-05"
        iyz="2.3214773179741E-21"
        izz="9.82129407754223E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l4">
    <inertial>
      <origin
        xyz="-0.160715221966173 0.0662285347496295 0.147182850430696"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="-7.63293188695524E-21"
        ixz="-1.22081839803496E-21"
        iyy="5.0191150558853E-05"
        iyz="5.35508754324322E-21"
        izz="9.82129407754223E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l5">
    <inertial>
      <origin
        xyz="-0.00675284838200221 0.0884903298328579 0.147182850430697"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="-7.25508483042897E-21"
        ixz="-3.80769766694592E-21"
        iyy="5.0191150558853E-05"
        iyz="3.01096029864918E-22"
        izz="9.82129407754222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l6">
    <inertial>
      <origin
        xyz="0.158523082401534 0.115063241100188 0.127182850430697"
        rpy="0 0 0" />
      <mass
        value="0.0802362763726834" />
      <inertia
        ixx="5.0191150558853E-05"
        ixy="-3.89867563331477E-22"
        ixz="1.06727144411898E-21"
        iyy="5.0191150558853E-05"
        iyz="1.82186791676577E-22"
        izz="9.82129407754222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrs_proj/meshes/l6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>